    body{
	font-family: "Arial", "Times New Roman";
	font-size: 15px;
	background-color: #333333;
    }
    div{
        display: block;
        padding: 3px;
        color: lime;
        margin: 3px;
        background-color: #555555;
        border: 1px solid red;
    }
    .container {
        position: relative;
        text-align: center;
    }
    .top-left {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 25px;
        color: #EEFF4D;
    }
    .left-div{
        text-align: center;
        width: 45%;
        color: lime;
        padding: 10px;
        margin: 5px;
    }
    .right-div{
        text-align: right;
        width: 45%;
        color: lime;
        padding: 10px;
        margin: 5px;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 3px;
        padding: 3px;
    }
    .links a{
        display: block;
        text-align: center;
        padding: 10px;
        color: white;
        border: 1px solid lime;
    }
    .links2 a{
        display: block;
        text-align: right;
        padding: 10px;
        color: white;
        border: 1px solid lime;
    }
    a:link, a:visited, a:active{
        color: orange;
        text-decoration: none;
    }
    a:hover{
        color: yellow;	
        text-decoration: none;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .responsive{
        width: 24.99999%;
        padding: 0 6px;
        box-sizing: border-box;
    }
    footer{
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: left;
    }
    .contact-info{
        display: flex;
        align-items: center;
    }
    .material-icons{
        font-size: 24px;
        margin-right: 10px;
    }
    .copy{
        text-align: center;
    }
    @media screen and (max-width: 2000px){
        .gallery{
            flex-wrap: nowrap;
        }
        .top-left {
            font-size: 30px;
        }
    }
    @media screen and (max-width: 1024px){
        .responsive {
            width: 48%;
        }
        .gallery{
            flex-wrap: wrap;
        }
        .top-left {
            font-size: 22px;
        }
    }
    @media screen and (max-width: 800px){
        .responsive {
            width: 100%;
        }
        .top-left {
            font-size: 15px;
        }
        .links2 {
            flex-direction: column;
            align-items: flex-end;
        }
        .gallery{
            flex-wrap: wrap;
        }
    }